services:
  app:
    build: .
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8000:8000"


  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: orgs
      POSTGRES_USER: orgs
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data


volumes:
  pgdata:
